@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --color-cco: #69ddff;
  --color-rv_cco: #ff8b69;
}

html,
body {
  @apply bg-neutral-200 dark:bg-neutral-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.perspective-midrange {
  position: relative;
}

.card-shine-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem; /* rounded-xl */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.card-hologram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem; /* rounded-xl */
  pointer-events: none;
  transition: opacity 0.2s linear;
  /* background-image: "url(app/assets/hologram.png), repeating-linear-gradient(82deg, hsl(53, 65%, 60%) calc(4% * 1), hsl(93, 56%, 50%) calc(4% * 2), hsl(176, 54%, 49%) calc(4% * 3), hsl(228, 59%, 55%) calc(4% * 4), hsl(283, 60%, 55%) calc(4% * 5), hsl(326, 59%, 51%) calc(4% * 6), hsl(326, 59%, 51%) calc(4% * 7), hsl(283, 60%, 55%) calc(4% * 8), hsl(228, 59%, 55%) calc(4% * 9), hsl(176, 54%, 49%) calc(4% * 10), hsl(93, 56%, 50%) calc(4% * 11), hsl(53, 65%, 60%) calc(4% * 12))";
  background-blend-mode: "color-burn, multiply";
  background-size: "cover";
  filter: "brightness(1) contrast(1) saturate(.4)";
  mix-blend-mode: "color-dodge"; */
}
